<body id="dash">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar" id="dashtext">
      <ul class="nav nav-sidebar">
        <li><a href='/hours/new' style= "color: #fff">Hours</a></li>
        <li><a href='/leaderboard' style= "color: #fff">Leaderboard</a></li>
        <li><a href='/hours' style= "color: #fff">Requests</a></li>
        <li class="active"><a href='/users' style= "color: #fff">Users</a></li>
        <!--           <li><a href="#">Reports</a></li>
                    <li><a href="#">Analytics</a></li>
                    <li><a href="#">Export</a></li>         -->
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <!--<h1 class="page-header" id="dashtext">Users</h1>

                <div class="row placeholders">
                  <div class="col-xs-6 col-sm-3 placeholder">
                    <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                  </div>
                  <div class="col-xs-6 col-sm-3 placeholder">
                    <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                  </div>
                  <div class="col-xs-6 col-sm-3 placeholder">
                    <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                  </div>
                  <div class="col-xs-6 col-sm-3 placeholder">
                    <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>Label</h4>
                    <span class="text-muted">Something else</span>
                  </div>
                </div>
      -->
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr id="dashtexttable">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Account Type</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
              <tr id="dashfield">
                <td><%= @user.first_name%></td>
                <td><%= @user.last_name %></td>
                <td><%= @role %></td>
                <td><% if @role == 'Admin'%>
                  <%= form_for @user, method: :put do |f|%>
                  <%= f.hidden_field :role, :value => 'User'%>
                  <%= f.submit 'Make User'%><%end%>
                  <%else%>
                  <%= form_for @user, method: :put do |f| %>
                  <%= f.hidden_field :role, :value => 'Admin'%>
                  <%= f.submit 'Make Admin'%>
                  <%end%>
                  <%end%></td>
                <td><%= link_to 'Delete', user_path(@user), method: :delete %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>