<body id="essay">
<div>
  <h1 id="essayh1">A Visual Tour Of My Web App</h1>
</div>
  <section class="no-padding" id="portfolio">

    <div class="container-fluid">

      <div class="row no-gutter">

        <div class="col-lg-4 col-sm-6">

          <%=image_tag(src='https://lh3.googleusercontent.com/-2MAl9d-W30k/Vh8VF_7M8vI/AAAAAAAAAGM/ReZ-px44sBM/w1044-h516-no/home.jpg', class: "img-responsive")%>

        </div>

        <div class="col-lg-4 col-sm-6">

          <%=image_tag(src='https://lh3.googleusercontent.com/-Lgk5LE3bMuc/Vh8VFxJ1kKI/AAAAAAAAAGM/tr05fjmXOTY/w1044-h516-no/dash1.jpg', class: "img-responsive")%>

        </div>

        <div class="col-lg-4 col-sm-6">

          <%=image_tag(src='https://lh4.googleusercontent.com/-sF92VFpnpVA/Vh8VFxJ7NFI/AAAAAAAAAGM/Byg4Z7jwFuk/w1044-h517-no/dash2.jpg', class: "img-responsive")%>

        </div>
        <div class="col-lg-4 col-sm-6">

          <%=image_tag(src='https://lh6.googleusercontent.com/-BDoJW5fiYiU/Vh8VF2E7_0I/AAAAAAAAAGM/21OKctZY8V0/w1044-h517-no/dash3.jpg', class: "img-responsive")%>

        </div>
        <div class="col-lg-4 col-sm-6">

          <%=image_tag(src='https://lh3.googleusercontent.com/-kpES-fGEmz0/Vh8VF7xCjfI/AAAAAAAAAGM/Db5wJF5uk40/w1043-h517-no/dash4.jpg', class: "img-responsive")%>

        </div>
        <div class="col-lg-4 col-sm-6">

          <%=image_tag(src='https://lh5.googleusercontent.com/-yjEicL1j8U4/Vh8VF8RuS1I/AAAAAAAAAGM/T05bGsppxB8/w1044-h516-no/dash5.jpg', class: "img-responsive")%>
        </div>

        </div>
      </div>
    </div>

  </section>

</body>
