<body id="essay">
<div>
  <h1 id="essayh1">A Visual Tour Of My Web App</h1>
</div>
  <section class="no-padding" id="portfolio">

    <div class="container-fluid">

      <div class="row no-gutter">

        <div class="col-lg-4 col-sm-6">

          <%=image_tag(src='home.jpg', class: "img-responsive")%>

        </div>

        <div class="col-lg-4 col-sm-6">

          <%=image_tag(src='dash1.jpg', class: "img-responsive")%>

        </div>

        <div class="col-lg-4 col-sm-6">

          <%=image_tag(src='dash2.jpg', class: "img-responsive")%>

        </div>
        <div class="col-lg-4 col-sm-6">

          <%=image_tag(src='dash3.jpg', class: "img-responsive")%>

        </div>
        <div class="col-lg-4 col-sm-6">

          <%=image_tag(src='dash4.jpg', class: "img-responsive")%>

        </div>
        <div class="col-lg-4 col-sm-6">

          <%=image_tag(src='dash5.jpg', class: "img-responsive")%>
        </div>

        </div>
      </div>
    </div>

  </section>

</body>
