<head>
  <!-- Custom CSS -->
  <link href="full-slider.css" rel="stylesheet">
</head>
<body id="essay" style="background-color: #333333;">
<!-- Full Page Image Background Carousel Header -->
<header id="myCarousel" class="carousel slide" style="margin-top:-50px; z-index:300000000;")>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
  </ol>

  <!-- Wrapper for Slides -->
  <div class="carousel-inner">
    <div class="item active">
      <!-- Set the first background image using inline CSS below. -->
      <div class="fill"><%=image_tag(src='home.JPG', class: 'img-responsive') %></div>
      <div class="carousel-caption" id="customcaption" style="background-color: #333333; border-radius:5px;">
        <h2>The Landing Page of the Application</h2>
      </div>
    </div>
    <div class="item">
      <!-- Set the second background image using inline CSS below. -->
      <div class="fill"><%=image_tag(src='dash1.JPG', class: 'img-responsive')%></div>
      <div class="carousel-caption" id="customcaption" style="background-color: #333333; border-radius:5px;">
        <h2>A User can submit their service records</h2>
      </div>
    </div>
    <div class="item">
      <!-- Set the third background image using inline CSS below. -->
      <div class="fill"><%=image_tag(src='dash6.JPG', class: 'img-responsive')%></div>
      <div class="carousel-caption" id="customcaption" style="background-color: #333333; border-radius:5px;">
        <h2>A User can see their progress relative to other Users. Also, Administrators can easily find Users that need help with fulfilling service requirements. </h2>
      </div>
    </div>
    <div class="item active">
      <!-- Set the fourth background image using inline CSS below. -->
      <div class="fill"><%=image_tag(src='dash2.JPG', class: 'img-responsive') %></div>
      <div class="carousel-caption" id="customcaption" style="background-color: #333333; border-radius:5px;">
        <h2>Administrators Only. They can see all requests, pending and approved.</h2>
      </div>
    </div>
    <div class="item active">
      <!-- Set the fifth background image using inline CSS below. -->
      <div class="fill"><%=image_tag(src='dash3.JPG', class: 'img-responsive') %></div>
      <div class="carousel-caption" id="customcaption" style="background-color: #333333; border-radius:5px;">
        <h2>Administrators Only. This is an example of one record about to be approved.</h2>
      </div>
    </div>
    <div class="item active">
      <!-- Set the sixth background image using inline CSS below. -->
      <div class="fill"><%=image_tag(src='dash4.JPG', class: 'img-responsive') %></div>
      <div class="carousel-caption" id="customcaption" style="background-color: #333333; border-radius:5px;">
        <h2>Administrators Only. User Accounts can be seen and managed.</h2>
      </div>
    </div>
    <div class="item active">
      <!-- Set the seventh background image using inline CSS below. -->
      <div class="fill"><%=image_tag(src='dash5.JPG', class: 'img-responsive') %></div>
      <div class="carousel-caption" id="customcaption" style="background-color: #333333; border-radius:5px;">
        <h2>Administrators Only. An example of an account that can be toggled between Admin and User.</h2>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>

</header>

<!-- jQuery -->
<script src="jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>

</body>
